@import "bootstrap/bootstrap";

@btn-font-weight: 300;

body, label, .checkbox label {
	font-weight: 300;
}

.poop {
  display: block;
  margin: 0 auto;
}

header {
  height: 10vh;
  background-color: #000;
  position: relative;
  z-index: 10;
}

.screen {
  height: 80vh;
}

footer {
  height: 10vh;
  background-color: #eee;
}

h1 {
  font-size: 5vh;
}