@import "bootstrap/bootstrap";

@btn-font-weight: 300;

body, label, .checkbox label {
	font-weight: 300;
}

.poop {
  display: block;
  margin: 0 auto;
}

header {
  height: 10vh;
  position: relative;
  z-index: 10;
  background: #e3e3e3 url('/logo.jpg') 50% 50% no-repeat;
  background-size: contain;
  border: 2vh solid #e3e3e3;
}

.screen {
  height: 80vh;
  padding: 0 5vw;
}

footer {
  height: 10vh;
  background-color: #2f2f2f;
  line-height: 10vh;
  text-align: center;
  font-weight: bold;
  font-size: 3vh;
  color: #e3e3e3;
}

h1 {
  font-size: 5vh;
  display: block;
  height: 10vh;
  line-height: 10vh;
}

.tap {
  height: 20vh;
  margin-top: 15vh;
}